h1{
    text-align:center; 
    color : #96a5ff;
    margin-top : 20px;
    border-top:10px solid #96a5ff;
    border-bottom:10px solid #96a5ff;
    padding-bottom:20px;
    padding-top:20px;
   }
   h2{
     color : #96a5ff;
   }
   .divider{
     border-left : 5px #88a590 solid;
     width : 700px;
     padding-left : 10px;
     margin-left : 30px;
   }
   div{
     margin-left : 40px;
   }
   button{
     width:80px;
   }
   #majorInterval{ 
   }
   #secondaryDominant7th{
   }
   #Atable{
       border: 1px solid gray;
       text-align : center;
   }
   #Btable{
       border: 1px solid gray;
       text-align : center;
   }
#Atable td{
    width: 75px;
}
#Btable td{
    width : 40px;
}
#selection{
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;


background-image:
linear-gradient(45deg, transparent 50%, gray 50%),
linear-gradient(135deg, gray 50%, transparent 50%),
radial-gradient(#ddd 70%, transparent 72%);
background-position:
calc(100% - 20px) calc(1em + 2px),
calc(100% - 15px) calc(1em + 2px),
calc(100% - .5em) .5em;
background-size:
5px 5px,
5px 5px,
1.5em 1.5em;
background-repeat: no-repeat;
}
p{
  font-size:14px;
  margin-left:30px;
  text-align:"left";
  padding:0px;
  margin-top:3px;
  margin-bottom:3px;
  width:60%;
}
table{
  border: 1px black solid;
  text-align:center;
  vertical-align:middle;
}
td{
  width:50px;
}
.iRight{
  text-align:right;
  width:30px;
}
.iLeft{
  text-align:left;
  width:40px;
}
.tabLeft{
  border-right:black solid 1px;
  width:30px;
}
#forFlex{
  display:flex;
}
.SD{
  width:42px;
}
#rLine{
  border-right:1px black solid;
  padding-right:5px;
}
.desi{
  width:18px;
}
.Ctable tr{
  height:27px;
}